<%- include ("./partials/header")%>

<form action="/user/dashboard/new" method="POST">
  <input type="Date" placeholder="Enter date" name="date" required />
  <input type="Time" placeholder="Enter time" name="time" required />
  <input type="Number" placeholder="Enter weight" name="weight" required />

  <button>Submit</button>
</form>
<%- include ("./partials/footer")%>
