.container {
  width: 95%;
}

.left-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.form-container {
  margin-top: 15% !important;
  width: 95%;
  margin: auto;
}

.form-container h5 {
  margin-top: 1.5%;
}
.form-container form {
  width: 95%;
  margin: auto;
}

.graph-container {
  width: 100%;
  height: 40vh !important;
  margin-bottom: 7.5%;
  margin-top: 7.5%;
  box-shadow: none;
}

.bmi-label {
  font-size: 0.9rem;
}

.bmi-container {
  margin-bottom: 7.5%;
  box-shadow: none;
}

.create-record-container {
  margin-bottom: 10%;
  box-shadow: none;
}
.create-record-container button {
  width: 80%;
  padding: 2.5%;
}
.mobile-card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weight-card {
  width: 80vw !important;
  margin: auto;
  /* box-shadow: none; */
}

.real-footer-section h3 {
  font-size: 0.8rem;
}

.real-footer-section ul li {
  margin-right: 30%;
}
