.container {
  width: 95%;
}

.left-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.form-container {
  margin-top: 20% !important;
  width: 95%;
  margin: 5% auto;
}

.form-container form {
  width: 95%;
  margin: auto;
}

.graph-container {
  width: 100%;
  border: 1px solid #00f5a3;
  margin-bottom: 10%;
  margin-top: 10%;
}

.bmi-label {
  font-size: 0.9rem;
}

.bmi-container {
  margin-bottom: 10%;
}

.create-record-container {
  margin-bottom: 10%;
}
.create-record-container button {
  width: 80%;
  padding: 2.5%;
}
.mobile-card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weight-card {
  width: 90% !important;
  margin: auto;
}
