* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Spartan", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}
.all-content {
  flex: 1 0 auto;
}

.container {
  /* max-width:1100px */
  width: 100%;
  overflow: hidden;
  margin: 1.5% auto;
  /* border: 1px solid green; */

  padding: 1%;
}
.graph-container {
  width: 100%;
  border: 1px solid #00f5a3;
  margin-bottom: 4%;
  box-shadow: 5px 7.5px #888888;
  border-radius: 20px;
  height: 55vh !important;
}

.bmi-container {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid #00f5a3;
  padding: 5%;
  box-shadow: 5px 7.5px #888888;
  border-radius: 20px;
}

.bmi-container h6 {
  margin-bottom: 5.5%;
}
.bmi-container input {
  font-size: 0.9rem;
}

.form-container {
  width: 40%;
  margin: auto;
  /* border: 1px solid coral; */
  background-color: #00f5a3;
  padding: 2.5%;
  /* border-radius: 20px; */
  text-align: center;
  border-top-left-radius: 70px;
  /* border-top-right-radius: 70px; */
  border-bottom-right-radius: 70px;
}

.create-record-container {
  margin: auto;
  text-align: center;
}
.create-record-container button {
  width: 50%;
  padding: 1.2%;
  box-shadow: 5px 7.5px #888888;
}

.lone-center-align {
  /* text-align: center !important; */
  margin: auto;
}

.weight-card {
  border-top-left-radius: 70px;

  border-bottom-right-radius: 70px;
  /* background-color: rgb(0, 245, 163); */
  background-color: #778899;
  text-align: center;
  box-shadow: 5px 7.5px #888888;
  margin-bottom: 5%;
}
/* bootstrap grid stuff */

.edit-and-delete button {
  margin: 1.5% auto;
}

.left-content {
  padding: 5%;
  text-align: center;
  margin-top: 2.5%;
}

.left-content h1 {
  /* padding: 5%; */
  /* text-align: center; */
  font-size: 3rem;
  font-weight: 700;
}

.left-content a {
  margin-top: 2.5%;
}
.left-content p {
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
.left-content .landing-button {
  width: 50%;
  padding: 2%;
}

.index-addendum {
  margin-top: 2.5%;
  font-size: 0.8rem;
}

.my-card-data {
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "Comfortaa", cursive; */
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  font-style: italic;
}

/* footer */

#real-footer {
  background: #373b44;
  height: 9vh;
  flex-shrink: 0;
}
.real-footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
.real-footer-section h3 {
  font-weight: 100;
  font-size: 1rem;
  color: #fff;
  margin: 0;
}
.real-footer-section .fab {
  font-size: 1.2rem;
  color: #fff;
  /* align-items: center; */
}
.real-footer-section .fab:hover {
  color: turquoise;
  transform: rotate(20deg);
}
.real-footer-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.real-footer-section ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 25%;
  margin-top: 30%;
}
.real-footer-section ul li a {
  padding: 7.5%;
  align-self: center;
  margin: auto;
}
