<%- include ("../partials/header")%>

<h1>Welcome to weight tracker</h1>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">Logout</a></li>

<%- include ("../partials/footer")%>
