<%- include ("../partials/header")%>
<div class="all-content">
  <div class="container">
    <div class="row">
      <div class="left-content col-md-6">
        <h1>Monitor your mass</h1>
        <p>
          Keep track of your progress by generating weight plots over time. Also
          ships with a built-in Body Mass Index (BMI) calculator to help you
          stay healthy
        </p>

        <a href="/register" class="btn btn-info landing-button">Get Started</a>
      </div>
      <img class="col-md-6" src="/img/landing2.svg" alt="" />
    </div>
  </div>
</div>

<%- include ("../partials/footer")%>
