<%- include ("../partials/header")%>
<div class="all-content">
  <div class="container">
    <div class="row">
      <div class="left-content col-md-6">
        <h1>Mass Monitor</h1>
        <p>
         Track your weight progress with detailed plots over time, and use the built-in Body Mass Index (BMI) calculator to help you stay on top of your health.
        </p>

        <a href="/register" class="btn btn-info landing-button">Get Started</a>
      </div>
      <img class="col-md-6" src="/img/landing2.svg" alt="" />
    </div>
  </div>
</div>

<%- include ("../partials/footer")%>