<%- include ("../partials/header")%>
<div class="all-content">
  <section>
    <div class="container">
      <div class="form-container">
        <%- include ("../partials/flash")%>
        <h5>Sign Up</h5>

        <form action="/register" method="POST">
          <div class="form-group">
      
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="username"
              min="6"
            />
          </div>
          <div class="form-group">
       
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="password"
            />
          </div>
          <div class="form-group">
         
            <input
              type="password"
              class="form-control"
              name="confirmPass"
              placeholder="confirm password"
            />
            <small id="emailHelp" class="form-text text-muted"
              >password: minimum of six characters</small
            >
          </div>

          <button type="submit" class="btn btn-info">Create Account</button>
        </form>

        <div class="index-addendum">
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include ("../partials/footer")%>
